# Ignore everything...
*
!**/

# ... except useful filetypes...
!*.py
!*.md
!*.sh
!*.cfg
!*.yml
!*.toml
!*.cfg
!*.png
!*.bib

# ... and keep useful files...
!.gitignore
!.gitattributes
!requirements.txt

# ... and ignore files related to development etc. ...
*scratchpad.py
